testing/gdrive-smruti-profile-rag.json
{
  "name": "gdrive-smruti-profile-rag",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LN7OQPFQdJP9cFViPTQwmpFl6dmWWiJw",
          "mode": "list",
          "cachedResultName": "profile",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LN7OQPFQdJP9cFViPTQwmpFl6dmWWiJw"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "249e61cf-4ba3-4d5c-81c4-f61f3f9d6785",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sgLHkRoO4OlS230F",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "c2ef5f14-7bf2-4c83-9b17-20eb97d7df70",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "46eefa2b-ddf8-430f-af0a-0985d5959829",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sgLHkRoO4OlS230F",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        880,
        0
      ],
      "id": "6b6b1097-9b42-4582-a629-fc275dac7b4f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "IiY1S30uVrlibWt4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1060,
        240
      ],
      "id": "5b6cd2d9-5efc-4adb-956b-b00b404ab2d2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        240
      ],
      "id": "be873527-8090-4353-bab1-756ff934121f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pr0KoGSOjfu5MKer",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 100000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1060,
        400
      ],
      "id": "62d4c4ae-8ecb-41bb-81a8-7df379063178",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83a59d69-8d74-4ab5-abf6-a518e198e9cc",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "9910964e-011a-4367-bca3-673aa0c38d8d",
      "name": "Set ID"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Set ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Set ID": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e422f84e-99b5-4768-85a6-bdd01e7e0a11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95fb932d26ae7c2d431f088c0c09865285282ecfdd23d41a2c5ec403680eda24"
  },
  "id": "I1E8bxu23MEb5S9u",
  "tags": []
}