n8n-workflow/smruti-rag-agent.json
{
  "name": "smruti-rag-agent",
  "nodes": [
    {
      "parameters": {
        "description": "👉 Tool Description (for n8n Vector Store Node):\nUseful when you need to answer questions about Smruti Ranjan Satpathy — also known as Smruti, Sam, or Mr. Satpathy. All these names refer to the same individual. Whenever you need insights into Smruti’s professional history, roles, projects, expertise, goals, or related background, always use this tool."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        192,
        16
      ],
      "id": "004d08c4-a8fb-40ee-b8e0-2f2a89172b4a",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "Resume of Smruti (sam) Ranjan Satpathy"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        48,
        224
      ],
      "id": "e31db2d8-b2ea-4b2e-ac2b-8500a79911d7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "IiY1S30uVrlibWt4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        384
      ],
      "id": "380e253f-650a-4570-af7a-9d4954339cd4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pr0KoGSOjfu5MKer",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        272
      ],
      "id": "4ddbcdb6-b098-4c8c-9307-66d619170d64",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pr0KoGSOjfu5MKer",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Smruti RAG Agent').first().json.user_message }}",
        "options": {
          "systemMessage": "={{ $('Smruti RAG Agent').first().json.system_message }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -96,
        -304
      ],
      "id": "df6073ea-a633-43e8-94ea-d614b9d50e1b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Smruti RAG Agent').first().json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "d64443df-1f6d-4a5a-8027-b95be4136c0f",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        352,
        -304
      ],
      "typeVersion": 1,
      "webhookId": "370944f5-9d22-4c16-aba4-aab81c46c95b",
      "credentials": {
        "telegramApi": {
          "id": "VrUN2BLxI7XzhxlX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "system_message"
            },
            {
              "name": "user_message"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -304
      ],
      "id": "44633a63-4b4f-458a-b05d-7608c6449f8d",
      "name": "Smruti RAG Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = items[0]?.json?.result ?? null;\n\nif (result) {\n  // Script returns event objects, so return true\n  return [{ json: { passedTool: true } }];\n} else {\n  // No result => false\n  return [{ json: { passedTool: false } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -304
      ],
      "id": "d38fa602-911c-4e9f-ac3c-6ab22f9b9aa4",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Smruti RAG Agent').first().json.chat_id }}",
        "tableName": "smrutirbot_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        0,
        -32
      ],
      "id": "b502ae64-6450-473a-8bad-d6e8863221b5",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "bQd3ej79e2ulYBEV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        -96
      ],
      "id": "04d9ae73-2f3f-46bc-943c-c5cef1c2eff3",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "pr0KoGSOjfu5MKer",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smruti RAG Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text reply": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9840ea2d-bbce-4fff-a531-7f2413e67427",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59c2324f4ea2ad5f70c34fef203bded6065d1b542555d863f4aed55ffc23ff64"
  },
  "id": "YR0HSuKx0U2qusuy",
  "tags": []
}