n8n-workflow/telegram_bot.json
{
  "name": "telegram-bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "59c2fad1-9944-4451-8fd7-3d8af2b00fb4",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1560,
        600
      ],
      "webhookId": "51942fbb-ca0e-4ec4-9423-5fcc7d3c4281",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "2IvHtIWGQtGHX0Mw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text }}",
        "rules": {
          "rules": [
            {
              "operation": "notStartsWith",
              "value2": "/"
            },
            {
              "operation": "startsWith",
              "value2": "/start",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "=/end",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "2ae95508-58a0-4d80-bef4-cd82a36a8558",
      "name": "CheckCommand",
      "type": "n8n-nodes-base.switch",
      "position": [
        -20,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Error fallback for unsupported commands",
        "height": 271,
        "width": 336
      },
      "id": "82768e9c-77e0-4a7a-b988-cae9f9cb0ffa",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        940
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "model_temperature",
              "value": 0.8
            },
            {
              "name": "token_length",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "system_command",
              "value": "=You are SmrutiRBot — a friendly, AI-powered assistant acting on behalf of Smruti Ranjan Satpathy. Your primary goal is to provide helpful, respectful, and engaging assistance to all users.\n\nThe user's name is: {{ $json?.message?.from?.first_name }}\n\nThe user's system language is: {{ $json?.message?.from?.language_code }}\n\nBehavior Guidelines:\nDetect the user's message language based on input.\n\nRespond in the same language to ensure smooth, user-friendly interaction.\n\nAlways include relevant emojis to keep the conversation warm and engaging.\n\nStay professional, respectful, and supportive in all interactions.\n\nRestrictions:\nDo not respond to or support requests related to sexual content, self-harm, or any form of harmful or unsafe behavior.\n\nIf such content is detected, gently redirect the user to appropriate support channels or simply state that you are unable to assist with such topics."
            },
            {
              "name": "bot_typing",
              "value": "={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "795a4592-9e38-4e10-b26a-ddbee6642a0e",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        -620,
        580
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Chatbot mode by default\n### (when no command is provided)",
        "height": 393,
        "width": 411
      },
      "id": "73b45820-cb7a-428d-80f1-5434375ccf43",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        -280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 219.892857142857,
        "width": 330.7863484403046
      },
      "id": "cfe71911-446a-48fc-90b3-dc02c227d025",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "5e35c30a-3516-484b-9a37-fd53c95e88c8",
      "name": "Greeting",
      "type": "n8n-nodes-base.openAi",
      "position": [
        340,
        340
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "rYgC1GU6CkTxKL4c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "51bb7d79-22a9-448c-ba05-a9f62cd461ec",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        840,
        -200
      ],
      "typeVersion": 1,
      "webhookId": "370944f5-9d22-4c16-aba4-aab81c46c95b",
      "credentials": {
        "telegramApi": {
          "id": "2IvHtIWGQtGHX0Mw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "action": "={{ $json.bot_typing }}"
      },
      "id": "3fdd6655-fc12-44b2-b397-9cd839f9b9ba",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -400,
        720
      ],
      "typeVersion": 1,
      "webhookId": "2706a97b-978d-4e07-8883-5a71c2a81351",
      "credentials": {
        "telegramApi": {
          "id": "2IvHtIWGQtGHX0Mw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "6cda56fa-eb7a-4330-9611-6ddec3eba756",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -200,
        600
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Goodbye message\n### /end",
        "height": 233.8785714285713,
        "width": 329.7428571428562
      },
      "id": "52f6d1f9-894e-4323-a1c3-46453a9e56b8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "text": "=Sorry, {{ $('Telegram Trigger').first().json.message.from.first_name }}! This command is not supported yet.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "caf33046-4a88-46ad-b5a3-670930370545",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        800,
        1020
      ],
      "typeVersion": 1,
      "webhookId": "b3d9e569-30d7-44b6-9242-60ac09fc94e5",
      "credentials": {
        "telegramApi": {
          "id": "2IvHtIWGQtGHX0Mw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $('Telegram Trigger').first().json.message.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "16bf9642-589b-4882-b0d4-2df6db8004fb",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        -820,
        580
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "text": "=Sorry, {{ $('Telegram Trigger').first().json.message.from.first_name }}!\n🚫 You've hit the limit for free queries.\n👉 Sign in to unlock more access and continue the conversation!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "20296c9a-b33f-412a-ac5f-bcfeff15c855",
      "name": "Send OAuth message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -940,
        1460
      ],
      "typeVersion": 1,
      "webhookId": "b3d9e569-30d7-44b6-9242-60ac09fc94e5",
      "credentials": {
        "telegramApi": {
          "id": "2IvHtIWGQtGHX0Mw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## OAuth message to register for SSO",
        "height": 231.22373949579838,
        "width": 316.1071428571428
      },
      "id": "d795fb90-5834-4a27-b8ad-902142b122f3",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -980,
        1380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "{{ $json.system_command }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        260,
        -200
      ],
      "id": "8ecb4cfc-1d4d-4081-b5a8-bb22c9f11169",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This message indicates that the user is ending the conversation for now. Please respond with a friendly goodbye message, similar to 'Alright, take care for now! I’ll be here when you need me again 😊', but translated into the language specified by {{ $json.message.from.language_code }}."
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "23d47eea-4d38-493a-a2ee-10fefc5de60a",
      "name": "Greeting1",
      "type": "n8n-nodes-base.openAi",
      "position": [
        360,
        620
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "rYgC1GU6CkTxKL4c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "08c378d7-9b83-4cbc-af04-b1bd887059ee",
      "name": "Send error message1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        780,
        620
      ],
      "typeVersion": 1,
      "webhookId": "b3d9e569-30d7-44b6-9242-60ac09fc94e5",
      "credentials": {
        "telegramApi": {
          "id": "2IvHtIWGQtGHX0Mw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "af81a44b-1b4f-43b5-9659-d3a67e59943d",
      "name": "Send error message2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        800,
        340
      ],
      "typeVersion": 1,
      "webhookId": "b3d9e569-30d7-44b6-9242-60ac09fc94e5",
      "credentials": {
        "telegramApi": {
          "id": "2IvHtIWGQtGHX0Mw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "tableName": "smrutirbot_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        320,
        -40
      ],
      "id": "36fe3e4b-bc27-4b93-8bd5-3b59a768a221",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ZyWkqkpx9kevAcl0",
          "name": "Supabase-Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        -40
      ],
      "id": "adc5a9aa-fe29-450c-9340-462b1cb1ccd2",
      "name": "LLM",
      "credentials": {
        "openAiApi": {
          "id": "rYgC1GU6CkTxKL4c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa62649c-6a17-4164-a527-77f13fafd82e",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 7949776784,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1320,
        600
      ],
      "id": "e2573528-9707-4266-b268-fe3a77088f8d",
      "name": "Allow Main User"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "smrutirbot_chat_histories",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger').first().json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1260,
        820
      ],
      "id": "8d76918b-ab88-462a-b317-223843269060",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "k49vPd5QaRcETNg1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiCount = items.filter(i => i.json.message.type === 'ai').length;\nreturn [{ json: { aiCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1260,
        1060
      ],
      "id": "e8549506-4f6a-49e1-beec-fd31376b70aa",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa62649c-6a17-4164-a527-77f13fafd82e",
              "leftValue": "={{ $json.aiCount }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -940,
        1060
      ],
      "id": "12f5553f-50ef-47f7-b49b-d1f7f25b5306",
      "name": "Allow other User 10 times"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "CheckCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Send error message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCommand": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Allow Main User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Typing action": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting1": {
      "main": [
        [
          {
            "node": "Send error message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Allow Main User": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Allow other User 10 times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow other User 10 times": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send OAuth message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d621cf44-2824-4cff-88ec-5033ea5febf9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17e5e1ddd4d65a463114d733b32277d70b4ca51cf2c0ae2385656b77bbe97fc4"
  },
  "id": "d4qCU01w3xaKWFJZ",
  "tags": []
}